<launch>
    <param name="use_sim_time" value="false" />
    <include file="$(find navigation)/launch/1/agv_config.launch" />
    
    <!-- Run move_base -->
    <node pkg="move_base" type="move_base" name="move_base">
        <param name="controller_frequency" value="12.0"/> 
        <param name="controller_patiente" value="12.0"/>
        <rosparam file="$(find navigation)/param/AJie/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navigation)/param/AJie/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find navigation)/param/AJie/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find navigation)/param/AJie/local_costmap_params.yaml" command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find navigation)/param/AJie/dwa_local_planner_params.yaml" command="load" />
    </node>

    <!-- Run map server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find navigation)/map/nav2.yaml"/>

    <!-- Run AMCL -->
    <include file="$(find navigation)/launch/2/amcl.launch" />
    <!-- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation)/rviz/nav.rviz"/>
    
        <!-- Map tools  -->
    <node pkg="waterplus_map_tools" type="wp_manager" name="wp_manager" output="screen">
      <param name="load" type="string" value="/home/bibibaba/waypoints.xml"/> 
    </node>
  
    <!-- WP_navi_server  -->
    <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server" output="screen"/>
</launch>
