<launch>	
	<arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find navigation)/urdf/big_homework_03.xacro'" />
	<param name="robot_description" command="$(arg urdf_file)" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
		<param name="publish_frequency" type="double" value="5.0" />
	</node>
	
	
	<node name="base2laser" pkg="tf" type="static_transform_publisher" args="0.149 0 0.2255 0 0 0 /base_link /laser_link 50" />
	<node name="base2imu" pkg="tf" type="static_transform_publisher" args="0.074 0.0055 0.1605 0 0 0 /base_link /IMU_link 50" />
	
	<!--<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" >
		<remap from="robot_pose_ekf/odom_combined" to="odom_combined" />
		<param name="freq" value="30.0" />
		<param name="sensor_timeout" value="0.1" />
		<param name="publish_tf" value="true" />
		<param name="odom_used" value="true" />
		<param name="imu_used" value="true" />
		<param name="vo_used" value="false" />
		<param name="output_frame" value="odom_combined" />
	</node> -->
</launch>
