<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <param name="controller_frequency" value="12.0"/> 
        <param name="controller_patiente" value="12.0"/>
        <rosparam file="$(find navigation)/param/Best/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navigation)/param/Best/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find navigation)/param/Best/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find navigation)/param/Best/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find navigation)/param/Best/base_local_planner_params.yaml" command="load" />
        <param name="base_global_planner" value="navfn/NavfnROS"/>
	<param name="planner_frequency" value="10.0" />
	<param name="planner_patience" value="1.0" />
	
    </node>
</launch>



