<launch>
    <!-- Robot_Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find navigation)/param/ekf_params.yaml" />
    </node>
    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base">
        <!-- local planner -->
         <!--
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>  
         -->
        <param name="base_global_planner" value="navfn/NavfnROS"/>  
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>  
        

        <rosparam file="$(find navigation)/param/5/dwa_local_planner_params.yaml" command="load"/>
        <!-- costmap layers -->    
        <rosparam file="$(find navigation)/param/5/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find navigation)/param/5/global_costmap_params.yaml" command="load"/> 
        <!-- move_base params -->
        <rosparam file="$(find navigation)/param/5/base_global_planner_params.yaml" command="load"/>
        <rosparam file="$(find navigation)/param/5/move_base_params.yaml" command="load"/>
        <remap from="/odom" to="/odometry/filtered"/>
    </node>
</launch>
